
CREATE DATABASE foodassistant;
USE foodassistant;

CREATE TABLE Hrana(
ID INT AUTO_INCREMENT,
Naziv VARCHAR(100) NOT NULL,
Kalorije VARCHAR(30),
Proteini VARCHAR(30),
Masti VARCHAR(30),
Ugljeni_hidrati VARCHAR(30),
JesteJelo TINYINT(1) DEFAULT 0,
Sastojci VARCHAR(200) DEFAULT NULL,
Napomena VARCHAR(999),
CONSTRAINT Namirnica_ID_PK PRIMARY KEY(ID)
);

CREATE TABLE Kviz(
ID INT AUTO_INCREMENT,
Pitanje VARCHAR(1000) NOT NULL,
Odgovori VARCHAR(5000) NOT NULL,
Fun_Fact VARCHAR(1000) NOT NULL,
CONSTRAINT Kviz_ID_PK PRIMARY KEY(ID)
);

CREATE TABLE Grupa_korisnika(
ID INT AUTO_INCREMENT,
Naziv VARCHAR(50) UNIQUE,
CONSTRAINT Grupa_korisnika_ID_PK PRIMARY KEY(ID)
);

CREATE TABLE Korisnik(
ID INT AUTO_INCREMENT,
Ime VARCHAR(30),
Prezime VARCHAR(30),
UsernameString VARCHAR(30) UNIQUE,
PasswordString VARCHAR(30),
ID_Grupe INT NOT NULL,
Pol TINYINT(1),
Godiste INT,
Visina INT(3),
Masa INT(3),
Nivo_Aktivnosti INT(1),
Rezim_Ishrane INT(1),
CONSTRAINT Korisnik_ID_PK PRIMARY KEY(ID),
CONSTRAINT Korisnik_ID_Grupe_FK FOREIGN KEY(ID_Grupe) REFERENCES Grupa_korisnika(ID) 
);

CREATE TABLE Recept(
ID INT AUTO_INCREMENT,
Naziv VARCHAR(100) NOT NULL,
Sastojci VARCHAR(200) NOT NULL, 
Kolicina VARCHAR(300) NOT NULL,
ID_Vlasnika INT,
CONSTRAINT Recept_ID_PK PRIMARY KEY(ID),
CONSTRAINT Recept_ID_Vlasnika_FK FOREIGN KEY(ID_Vlasnika) REFERENCES Korisnik(ID)
);

CREATE TABLE Recepti_Grupe(
ID INT AUTO_INCREMENT,
ID_Grupa INT NOT NULL,
ID_Recept INT NOT NULL,
CONSTRAINT Recepti_Grupe_ID_PK PRIMARY KEY(ID),
CONSTRAINT Recepti_Grupe_ID_Grupa_FK FOREIGN KEY(ID_Grupa) REFERENCES Grupa_korisnika(ID),
CONSTRAINT Recepti_Grupe_ID_Recept_FK FOREIGN KEY(ID_Recept) REFERENCES Recept(ID)
);

CREATE TABLE Sadrzina_Frizidera(
ID INT AUTO_INCREMENT,
ID_Grupa INT NOT NULL,
ID_Hrana INT NOT NULL,
Kolicina INT NOT NULL,
CONSTRAINT Sadrzina_Frizidera_ID_PK PRIMARY KEY(ID),
CONSTRAINT Sadrzina_Frizidera_ID_Grupa_FK FOREIGN KEY(ID_Grupa) REFERENCES Grupa_korisnika(ID),
CONSTRAINT Sadrzina_Frizidera_ID_Hrana_FK FOREIGN KEY(ID_Hrana) REFERENCES Hrana(ID)
);

CREATE TABLE Statistika_Za_Dan(
ID INT AUTO_INCREMENT,
ID_Korisnik INT NOT NULL,
Dan DATE NOT NULL,
Rezim_Ishrane INT,
Unesene_Kalorije INT,
Uneseni_Proteini INT,
Unesene_Masti INT,
Uneseni_Ugljeni_Hidrati INT,
CONSTRAINT Statistika_Za_Dan_ID_PK PRIMARY KEY(ID),
CONSTRAINT Statistika_Za_Dan_ID_Korisnik_FK FOREIGN KEY(ID_Korisnik) REFERENCES Korisnik(ID)
);